<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <script src="../Libraries/jquery-1.11.3.min.js"></script>
    <script src="../Javascript/functions.js"></script>
    <script src="../Javascript/export.js"></script>
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>

    <div id="all">
        <div id="left">
            <div id="leftHeader"><a href="#" onclick="renderFormsList();" style="color:black;">Formulare</a> <span id="dataLink">Daten</span> <span id="exportLink">Export</span></div>

            <div id="forms" style="display:none;"></div>

            <div id="data" style="display:none;"></div>

            <div id="export" style="display:none;">
                <a href="#" onclick="exportPdf()">Als .pdf</a><br />
                <a href="#" onclick="exportDocx()">Als .docx</a><br />
                <a href="#" onclick="exportPrint()">Ausdrucken</a><br />
                <a href="#" onclick="exportMail()">Sende E-Mail</a>
            </div>

        </div>
        <div id="right"></div>
    </div>

</body>
</html>
